body {
    background-color:#fbd46d;
}

#file-input-label {
  width:100px;
  cursor: pointer;
  background-color: #336699;
  color: white;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

#file-input {
  display: none;
}
.container {
    width: 80%;
    height: 80%;
    background: #222831;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
  }
  
  #controls {
    width: 20%;
    height: 200px;
    background: #4f8a8b;
    float: left;
    padding-top:5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  
  #myDiv {
    margin-left: 25%;
    background: #fbd46d;
    width: 400px; 
    height: 100%; 
    border-style: solid;
  }

  .text-input {
      width:80px;

  }